# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# System
.DS_Store

# Project
.idea

# Test binary, built with `learn-kafka-.go test -c`
*.test

# Output of the learn-kafka-.go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work*
vendor

# Custom
.go/
.python/
.java/
